<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">
      Title Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home" color="light">
    <ion-card>
  <ion-card-header>
    <ion-card-title>The Adventures of Robert the Mouse</ion-card-title>
  </ion-card-header>
  <img src="https://tse2.mm.bing.net/th?id=OIP.jVutHrx7N3le1ImZpnfuYgHaHt&pid=Api&P=0&w=300&h=300" [routerLink]="['/toc']">
  <ion-card-content>
    Click on the image to see how belief in oneself can help you overcome all obstacles
  </ion-card-content>
</ion-card>
</ion-content>
